<%= form_for @deck, html: {autocomplete: 'off'} do |f| %>

    <h3>Title</h3>
    <%= f.text_field :title %><br><br>

    <h3>Description</h3>
    <%= f.text_field :description %><br><br>

    <h3>Cards</h3>
    <div id='cards'>
        <%= f.fields_for :cards do |card| %>
            <%= render 'card_fields', f: card %>
        <% end %>
        <%= link_to_add_association '<button>Add Card</button>'.html_safe, f, :cards %>
    </div>
    <br>

    <% if @deck.errors.present? %>
        <div class='error-list'>
            <% @deck.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </div>
    <% end %>

    <%= f.submit %>
<% end %>
