<style>
    .sidebar-item#top {
        color: #a55a8e;
        background-color: #c0c6c9;
    }
</style>

<%= render 'sidebar' %>

<div class='main'>
    <%= render 'login_logout' %>

    <h1>Decks</h1>
    
    <div style='margin: 8px 0'>
        <% if logged_in? %>
            <%= link_to "<button id='new-deck'>New Deck</button>".html_safe, new_deck_path %>
        <% else %>
            <button class='greyed-out' id='new-deck'>You must be logged in to create a new deck.</button>
        <% end %>
    </div>

    <table>
        <tr>
            <th style='width: 200px'>Deck</th>
            <th style='width: 70px'>Cards</th>
            <th style='width: 100px'>Created By</th>
            <th style='width: 70px'>Saves</th>
        </tr>
        <% @decks.each do |deck| %>
            <tr>
                <td><%= link_to deck.title, deck %></td>
                <td style='text-align: center'><%= deck.cards.length %></td>
                <td><%= deck.creator %></td>
                <td style='text-align: center'><%= deck.saves %></td>
            </tr>
        <% end %>
    </table>
</div>
