<script>
    var cardList = [];
    <% @deck.cards.each do |card| %>
        cardList.push({
            front: '<%= raw card.front %>',
            back: '<%= raw card.back %>'
        });
    <% end %>

    function flip(num) {
        var elem = document.getElementById('card_' + num);
        if (cardList[num].front === elem.innerHTML) {
            elem.innerHTML = cardList[num].back;
        } else {
            elem.innerHTML = cardList[num].front;
        }
    }
</script>

<style>
    button.card {
        width: 120px;
        height: 80px;
        margin-bottom: 5px;
        font-size: 20px;
    }
</style>

<h1><%= @deck.title %></h1>

<h3>Created by <%= @deck.creator %></h3>

<% @deck.cards.each_with_index do |card, i| %>
    <button onclick="flip('<%= i %>')" class='card' id='card_<%= i %>'><%= card.front %></button><br>
<% end %>

<% if logged_in? and current_user.id == @deck.user_id %>
    <%= link_to '<button>Edit Deck</button>'.html_safe, edit_deck_path(@deck) %><br>
    <%= link_to '<button>Delete Deck</button>'.html_safe, deck_path(@deck), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %><br>
<% end %>
<%= link_to '<button>Back</button>'.html_safe, root_path %>
