<%= render 'sidebar' %>

<div class='main'>
    <h1><%= @deck.title %></h1>

    <% if @deck.cards.length == 1 %>
        <div>1 card</div>
    <% else %>
        <div><%= @deck.cards.length %> cards</div>
    <% end %>

    <h3>Created by <%= link_to @deck.creator, User.find_by_username(@deck.creator) %></h3>

    <div class='description'><%= @deck.description %></div><br>

    <% if logged_in? %>
        <%= render 'logged_in_show', deck: @deck %>
    <% else %>
        <%= render 'logged_out_show', deck: @deck %>
    <% end %>

    <h3>Card list:</h3>
    <table>
        <tr>
            <th style='width: 40px; border: none'></th>
            <th style='width:150px'>Front</th>
            <th style='width:150px'>Back</th>
        </tr>
        <% @deck.cards.each_with_index do |card, i| %>
            <tr>
                <td style='text-align: center'><%= i + 1 %></td>
                <td><%= card.front %></td>
                <td><%= card.back %></td>
            </tr>
        <% end %>
    </table>
</div>
